<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
</head>
<body>
    {% extends 'base.html' %}
    
    {% block 'content' %}
    <div class="container">
        <h3 class="text-center">Quienes Somos</h3>
        <p>Somos una empresa especializada en la creación de Flanes. Cada uno de nuestros flanes cuenta con personalidad propia, dado lo único de sus ingredientes y todo el amor que les hemos puesto al crearlos.</p>
    </div>

    
    {% endblock %}
</body>
</html>