{% extends 'base.html' %}

{% block 'content' %}
<div class="row">
    <div class="iframe-container text-center col-8 offset-2 py-1" style="background: rgb(255,255,255); background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,209,220,1) 50%, rgba(255,255,255,1) 100%);">
        <h3 class="text-bold">
            ~ Nuestra base se encuentra en... ~
        </h3>
        <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d23950.031525857285!2d-72.96019629999999!3d-41.3794304!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2s!5e0!3m2!1ses!2scl!4v1722362945549!5m2!1ses!2scl" width="600" height="450" style="border:0; background-color: #FFD1DC; padding: 20px;display: inline-block" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>


{% endblock %}