<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=
    , initial-scale=1.0">

</head>
<body>
    {% extends 'base.html' %}
    
    {% block 'content' %}
    <br>
    <div class="row">
        <div class="col-6 offset-3">
            <div class="p-5 text-white bg-white rounded-3" style="background: rgb(125,2,31);background: linear-gradient(90deg, rgba(125,2,31,1) 0%, rgba(255,255,255,1) 74%, rgba(125,2,31,1) 100%);">
                <h2>
                    Bienvenido, {{user.get_username}}.
                </h2>
                <p>
                    Estos es la "Fina Selección" de Flanes para Usuarios Registrados. .
                </p>
            </div>
            <br>
        </div>

    </div>


    <div class="container">
        <h3 class="text-center">~ Miembros de la Sociedad Secreta de Flanes ~</h3>
        <div class="row">
            {% for flan in private_flans %}
            <div class="col-6 col-md-3">
                <div class="card mb-4">
                    <img src="{{ flan.image_url }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">
                            {{ flan.name }}
                        </h5>
                        <p class="card-text">
                            {{ flan.description }}
                        </p>
                    </div>

                </div>

            </div>
            {% endfor %}

        </div>
    
    
    
    
    
    
    </div>

    {% endblock %}
</body>
</html>